* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  overflow: auto;
  background: #000;
  color: #fff;
}

html,
body,
#root {
  height: 100%;
}
